<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,500,700&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
        link(rel="stylesheet", href="styles.css")
        
        title 404 page
    body.page-404__nopd
        .page-404
            .page-404__wrapper
                h1.page-404__title 404
                p.page-404__text Страница, на которую вы попали, не существует. Вы можете попробовать следующее:
                .page-404__list
                    li.page-404__item: a.page-404__link(href="#") Перейти на главную страницу
                    li.page-404__item Проверить правильность введенного адреса
                    li.page-404__item Вернуться туда, откуда пришли (нажать кнопку «Назад» в своем браузере)
