doctype
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lora:400,700&amp;subset=cyrillic")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=cyrillic")
        link(rel="stylesheet", href="styles.css")

        title Oldboy Academy

    body
        header.page-header
            nav.main-nav.main-nav--side-menu
                .main-nav__logo
                    img(src="./img/logo-bw.svg", alt="Академия Олдбой логотип монохром")
                ul.main-nav__list
                    li.main-nav__item: a.main-nav__link(href="#about") Об Академии
                    li.main-nav__item: a.main-nav__link(href="#features") Преимущества
                    li.main-nav__item: a.main-nav__link(href="#courses") Наши Курсы
                    li.main-nav__item: a.main-nav__link(href="#team") Команда
                    li.main-nav__item: a.main-nav__link(href="#contacts") Контакты

                .main-nav__social
                    .masson
                        .masson__logo
                            img(src="./img/masson.png", alt="")
                        .masson__social
                            a(href="#").icon-vkontakte
                            a(href="#").icon-instagram
                        
                        a.masson__tag(href="#") #<em>OldboyAcademy</em>

            .menu-icon.menu-icon--inner: .menu-icon__middle
        
        section.hero.hero--course
            .hero__logo
                a(href="#")
                    img(src="./img/logo/svg", alt="Академия Олдбой логотип")
            header.hero__header
                .hero-header__caption
                    p.hero-header__subtitle История Академии
                    h1.hero-header__title Академия барберинга<br>OldBoy
                    p.hero-header__text С чего начиналась Академия и какие ее основные преимущества перед другими школами мастеров
                
        section.about.about--main#about
            .about__row
                .about__content.about__content--left
                    .about__logo
                        img(src="./img/logo.svg", alt="Академия Oлдбой цветной логотип")
                
                .about__content.about__content--right
                    h2.about__title Академия барберинга OldBoy —&nbsp;место, где рождаются настоящие мужские парикмахеры
                    p.about__text В 2014 году парни из Калининграда задались целью открыть в России место без женщин, где каждый мужчина сможет получить высококачественную стрижку и бритье. Место, которое хранит в себе традиции лучших цирюлен прошлого века. У них получилось это сделать
                    p.about__text Спустя какое-то время начало поступать множество запросов от барберов России и СНГ на аналогичную подготовку, которую имеют мастера OldBoy.Они хотели овладеть теми же нвыками и мастерством. До сих пор это было невозможно.
                    p.about__text Но уже сейчас академия Барберинга OldBoy открывает свои двери для всех желающих, кто готов погрузиться в атмосферу старых цирюлен и обучиться древнему мастерству барберинга.
                    
        section.contacts.contacts--inner
            article.contacts-box.contacts-box--inner
                header.contacts-box__header
                    h2.contacts-box__title Контакты
                    p.contacts-box__text По всем интересующим вас вопросам просим вас связаться с нашим менеджером.

                .contacts-box__body
                    .contact
                        .contact__icon.icon-phone
                        .contact__name Телефон
                        .contact__value
                            a(href="tel:+79114567890") +7 911 456-78-90

                    .contact
                        .contact__icon.icon-mail-alt
                        .contact__name e-mail
                        .contact__value
                            a(href="mailto: academy@oldboy.com") academy@oldboy.com

                footer.contacts-box__footer
                    .contacts-box__logo
                        //- img(src="./img/logo.svg", alt="Академия Олдбой логотип")
                        img(src="./img/logo-bw.svg", alt="Академия Олдбой логотип")
        footer.page-footer.page-footer--inner

            .page-footer__wrapper
                .page-footer__social
                    a(href="").icon-vkontakte
                    a(href="").icon-instagram
                nav.page-footer__menu
                    ul
                        li: a(href="#") Курсы
                        li: a(href="#") Команда
                        li: a(href="#") Отзывы
                        li: a(href="#") Моделям
                        li: a(href="#") Сертификаты
                .page-footer__copy &copy;Академия Олдбой. 2017<br>Все права сохранены.

    script(src="menu.js")
    script(src="app.js")
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClofSbCu6EYSgaWdfCK5G1i_eUXgL4RCk&callback=initMap")
    script(src="map.js")