.page-header {
    // positioning
    position: relative;

    // box model
    display: flex;
    justify-content: space-between;
    align-items: center;

    // visual
    background-color: $white;
    transition: all 0.3s ease-out;


    &__logo {
        // box model
        width: 115px;

        img {
            width: 100%;
        }

        &--masters {
            // box model
            margin-top: 20px;
            margin-left: 20px;

            @include atDesktop {
                // box model
                display: none;
            }

        }
    
    }

    &__phone {
        // box model
        padding-right: 85px;

        // typography
        font-family: $titleFont;
        font-size: 0.9rem;
        font-size: 1rem;
        font-weight: 700;
        // line-height: 80px;
        text-align: right;

        &--masters {

            @include atDesktop {
                // box model
                display: none;
            }
        }

        @include atTabletsPortrait {
            // box model
            padding-right: 25px;

            // typography
            font-size: 1.25rem;
        }

        @include atDesktop {
            // box model
            padding-right: 54px;
        }

        &--inner {

            @include atTabletsPortrait {
                // box model
                // need fix
                // margin-right: -35px;

            }

            @include atDesktop {
                // box model
                margin-right: 0;
            }
        }

        a {
            // typography
            color: $dark;
            text-decoration: none;

            // visual
            transition: all 0.2s ease-out;
        
            &:hover {
                // typography
                color: $gold;
            }
        }
    }
}